body.Home{
    background-size:100% 40%;
    background-position:0% 55%;
    overflow-y: hidden;
    z-index: -1;
    color:#403f3f;
    background-color:#444242;
}

.tab{
    background-color: #000;
    display:flex;
    width:100%;
    height:30px;
    margin-top:-10px;
    justify-content:space-between;
}
.bar button{
  background-color: #1b1b1b;
  margin-left:10px;
  border-radius:5px;
  border: 1px solid;
  width:250px;
  height:30px;
  border-color:#1b1b1b;
  color:#fff;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-weight:lighter;
}
.bar button:hover {
  background-color: #000;
  border-color:#ceff1a;
  color: #ceff1a;
  font-weight:bold;
}
.Projects button {
  background-color: #1b1b1b;
  margin-left:10px;
  border-radius:5px;
  border: 1px solid;
  height:40px;
  border-color:#1b1b1b;
  color:#fff;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-weight:lighter;
}
.Projects button:hover {
  background-color: #000;
  border-color:#ceff1a;
  color: #ceff1a;
  font-weight:bold;
}
.green button{
    background-color: #ceff1a;
    color:#000;
    font-weight:30px;
    border:2px solid #ceff1a;
    border-radius: 6px;
    font-size:15px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    letter-spacing:1px;
}
.green button:hover {
    background-color: #90b312;
    color: #000;
}
.grey button{
  background-color: #444242;
  color:#fff;
  font-weight:30px;
  border:2px solid #444242;
  border-radius: 6px;
  font-size:15px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  letter-spacing:1px;
}
.grey button:hover {
  background-color: #514f4f;
  color: #fff;
}

.spacer{
    margin-bottom:800px;
}

.LoginTable{
    margin-top:180px;
    margin-left:160px;
}
.input-container,.input-contain-small{
    position: relative;
    
 }
 .input-container-radio{
  position: relative;
  width:300px;
 }
 .input-container label{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 15px;
    top:20px; 
    color: #fff; 
    pointer-events: none; 
 }
 .input-container-radio label{
  position: absolute;
  left: 55px; 
  top:10px;
  color: #fff;
  pointer-events: none; 
}
 .input-contain-small label {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 15px;
    top:20px; 
    color: #fff;; 
    pointer-events: none; 
 }
.input-container input{
    padding-left: 130px;
    padding-right: 50px;
    padding-top:30px;
    padding-bottom:20px;
    border-style: solid;
    background-color:#000;
    border-top-color:#444242;
    border-left-color:#444242 ;
    border-color:#444242;
    border-radius: 10px;
    color:#fff;
 }
 .input-container select{
  padding-left: 130px;
  padding-right: 50px;
  padding-top:30px;
  padding-bottom:20px;
  border-style: solid;
  background-color:#000;
  border-top-color:#444242;
  border-left-color:#444242 ;
  border-color:#444242;
  border-radius: 10px;
  color:#fff;
}
 .input-container-radio input{
  padding-left: 130px;
  padding-right: 50px;
  padding-top:30px;
  padding-bottom:20px;
  border-style: solid;
  background-color:#000;
  border-top-color:#444242;
  border-left-color:#444242 ;
  border-color:#444242;
  border-radius: 10px;
  color:#fff;
}
 .log{
    display:flex;
    justify-content:space-between;
 }
 .FullName{
    display:flex;
    justify-content: space-between;
    

 }
 .input-contain-small input {
    width:100px;
    margin-right:30px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top:30px;
    padding-bottom:20px;
    font-size:10px;
    border-style:solid;
    background-color:#000;
    border-top-color:#444242;
    border-left-color:#444242 ;
    border-color:#444242;
    border-radius: 10px;
    color:#fff;
 }

  #profile-image {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-left:100px;
  }

  #profile-input {
    display: none;
    margin-left:150px;
  }
  .toggle-container {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }

  .toggle-input {
    display: none;
  }

  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }

  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: #6691f5;
    border-radius: 50%;
    transition: 0.4s;
  }
  .toggle-input:checked + .toggle-slider {
    background-color: #ccc;
  }

  .toggle-input:checked + .toggle-slider:before {
    transform: translateX(24px);
  }

  .fixed-img{
    position:fixed;
    bottom: 50px;
    top:150px;
    left:150px;
    right:40px;
  }
  .content{
    background-color: #000;
    width:85%;
    margin-left:100px;
    border-top-right-radius:50px;
    border-top-left-radius: 50px;
  }
  .background {
    position: absolute;
    margin-bottom:250px;
    width: 100%;
    height: 260%; 
    background-image: url('bg4.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    z-index: -1;
  }
  .black{
    background-color:#000;
    width:100%;
    margin-top:-15px;
  }
  .scroll{
    display:flex;
    justify-content: space-between;
    height: 2000px;

  }
  .bggg img {
    z-index:-1;
    width:100%;
    margin-top:150px;
  }
.main-content{
  display:flex;
  justify-content: space-between;
}